<h1>Albums</h1>

<h3><a href="/albums/new">Add a new album to the stock</a></h3>

<ul>
<% for album in @albums %>
  <li style="border-bottom: 1px solid black;">
  <%album.id%><%=album.name%>
  </li>
    <ul>
      <li>
        Stock - status: <%=album.stock_level%>
      </li>
      <li>In stock: <%= album.current_stock %> 
          <a href="/albums/<%=album.id%>"><input type="submit" value="Update"></a>
      </li>
      <li>Stock target: <%= album.ideal_stock %></li>
        <ul>
          <div><li>
            <form action="/albums/<%=album.id%>/delete" method= "POST">
            <input type="submit" value="Delete Album">
            </form>
          </li><div>
        </ul>
    </ul>
  </li>
<% end %>
</ul>

